body{
    margin:0px;
    height:100%;
    width:100%;
}


.cloud{
    width:400px;
    height:auto;
    margin-top:20px;
    animation-name: drive;
    animation-duration: 30s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.cloud:nth-child(1){
    opacity:60%;
    animation-duration: 40s;
}
.cloud:nth-child(2){
    position:absolute;
    top:50px;
    left:150px;
    
}

.sky, .grass, .road{
    position: relative;
}

.grass{
    background-color: rgb(49, 192, 49);
    width:100%;
    height:100px;
}

.sky{
    background-color: aquamarine;
    height: 250px;
}

.road1{
    background-color: rgb(51, 50, 50);
    width:auto;
    height:138px;
    
}

.road2{
    width:auto;
    height:132px;
    background-color:rgb(51, 50, 50);
    border-top: 5px dashed white;
}

.mario{
    width: 100px;
    height:auto;
    position: relative;
    top: 10px;
    animation-name: drive;
    animation-duration: 7s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes drive{
    from{transform: translateX(-300px)}
    to{transform: translateX(1600px)}
}
